<%- include('../partials/_header.ejs') %>
    <h1><%= student.first_name %> <%= student.last_name %></h1>
    <img src="<%= student.profile_picture_url  %>" width="80">
<%- include('../partials/_footer.ejs') %>